/* Reset des styles par défaut du navigateur */
body, h1, h2, p {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Courier New', monospace; /* Utilisation d'une police rétro */
	background-color: #f0f0f0; /* Couleur de fond */
	color: #333; /* Couleur du texte */
}

.container {
	width: 80%; /* Largeur du contenu principal */
	margin: 0 auto; /* Centrer le contenu */
}

h1, h2 {
	color: #ff6600; /* Couleur orange pour les titres */
	text-transform: uppercase; /* Texte en majuscules */
	letter-spacing: 2px; /* Espacement entre les lettres */
}

p {
	line-height: 1.6; /* Hauteur de ligne pour une meilleure lisibilité */
}

/* Style des liens */
a {
	color: #3366cc; /* Couleur du lien */
	text-decoration: none; /* Suppression du soulignement par défaut */
}

a:hover {
	text-decoration: underline; /* Soulignement au survol */
}

/* Style des boutons */
.button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #ff6600;
	color: #fff;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.button:hover {
	background-color: #cc5500;
}

.errorlist { margin-bottom: -10px }